h1{
    color:  hsla(90,60%,60%,0.8);
}

.item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #999;
}

.item p:only-of-type {
  color: red;
}

dl {
  margin-bottom: 20px;
}

dl dt:only-of-type {
  background: #ddf5da;
}

dl dt:first-of-type {
  background: #ddf5da;
}